# System files
.DS_Store

# Version control
.git

# Database config files
ormconfig.json
.env.test
.env.development
.env.production

# Dependencies
node_modules/

# Build outputs
dist/
coverage/

# IDE settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Operating System files
Thumbs.db
Desktop.ini

# npm files
package-lock.json
npm-debug.log*

# Yarn files (if you use Yarn)
yarn.lock
.yarn/
.pnp.*

# TypeScript cache
*.tsbuildinfo
